*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #29343D;
}
.main{
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 130px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}
.item{
    background: linear-gradient(45deg,#FED1AD,#FB84B3);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 150px;
}
.item3{
    grid-column-start: 5;
    grid-column-end: 7;
    background: linear-gradient(45deg,#aaaaaa,#79EBE0);
}
.item5{
    grid-column-start: 5;
    grid-column-end: 7;
    background: linear-gradient(45deg,#FED1AD,#79EBE0);
}
.item8{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 150px;
}